_auth = bW1qZnJvZzIwMjBAZ21haWwuY29tOkFQOVR5TjhHem5yNmI3bWlZVGYxc1RRTjdD
email = MMJFrog2020@gmail.com
always-auth = true
@<SCOPE>:registry=https://mmjfrog.jfrog.io/artifactory/api/npm/lib-snapshot/
//mmjfrog.jfrog.io/artifactory/api/npm/lib-snapshot/:_password=QVA5VHlOOEd6bnI2YjdtaVlUZjFzVFFON0M=
//mmjfrog.jfrog.io/artifactory/api/npm/lib-snapshot/:username=mmjfrog2020@gmail.com
//mmjfrog.jfrog.io/artifactory/api/npm/lib-snapshot/:email=MMJFrog2020@gmail.com
//mmjfrog.jfrog.io/artifactory/api/npm/lib-snapshot/:always-auth=true
